:root {
    --black-color: 37, 37, 37;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL CLASSES */
.container-fluid {
    padding: 0;
    margin: 0;
}

.row {
    margin: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: none;
    border-radius: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 2;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 0;
}

h3 {
    color: #818181;
}


/* UTILITY CLASSES */
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.fs_7 {
    font-size: 40px;
}

.fs_8 {
    font-size: 16px;
}

.fs_9 {
    font-size: 15px;
}

.fs_10 {
    font-size: 60px;
}

.fs_11 {
    font-size: 10px;
}

.rounded_4 {
    border-radius: 1em;
}

.rounded_5 {
    border-radius: 1.5em;
}

.mb_6 {
    margin-bottom: 8rem;
}

.mb_7 {
    margin-bottom: 2rem;
}

/* hero */
.hero {
    width: 100%;
    margin-top: 100px;
    height: 35rem;
    position: relative;
    color: white;
}

.hero > img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero .row > div {
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.hero button {
    background-color: #D2522B;
    border: #D2522B;
}


/* HEADER */ 
.sony_logo {
    height: 2rem;
    background-color: rgb(var(--black-color));
}

.sony_logo .col {
    max-width: 6rem;
}

/* navbar */
.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    background-color: white;
    border: none;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none;
    content: none;
    border: none;
}

nav .chevron-solid {
    width: .5rem;
}

.nav-link.show .chevron-solid {
    transform: rotate(0.5turn);
}

.list_circle_blue li::marker {
    color: #0070D1;
}

.list_circle_blue li {
    list-style: disc;
    margin-right: 1.5rem;
}

.list_circle_blue li a {
    text-decoration: none;
    color: black;
}

.list_circle_blue li a:hover {
    color: #0070D1;
}


/* JUMBOTRON */


/* CARDS */
.cards .col > * {
    min-height: 110px;
}

.cards .col .returnal {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: left;
}

.cards .col .ratchet {
    background-image: url(../img/ratchet-and-clank-rift-apart-keyart.jpg);
    background-size: cover;
    background-position: top;
}


/* PLAYSTATION-5 */
.play-5 .title h2 {
    color: #0070D1;
}

.play-5 .console .col img {
    width: 100%;
    object-fit: cover;
}

.accessories .col {
    opacity: .8;
}

.accessories .col:hover {
    border-bottom: 2px solid #0070D1;
    opacity: 1;
}


/* ADVENTURE */
.adventure .row .col img {
    max-width: 330px;
}


/* NEW RELEASES */
.new-releases {
    background-color: #1F1F1F;
    color: white;
}

.new-releases .card {
    background-color: transparent;
} 

.new-releases .card-body {
    padding: .5rem 0;
}


/* PLAYSTATION-4 */
.play-4 .row > * {
    padding-right: 0;
    padding-left: 0;
    margin-top: var(--bs-gutter-y);
}


/* PLAY-PLUS */
.play-plus {
    background-color: #BEBCBB;
    color: black;
}

.play-plus button {
    background-color: lightgrey;
    color: #0070D1;
}

.play-plus .row img.mb-4 {
    width: 60%;
}


/* PLAY-STORE */


/* PLAY-NOW */
.play-now {
    background-color: #161C3B;
    color: white;
}

.play-now button {
    background-color: white;
    color: black;
}

.play-now .row img.mb-4 {
    width: 60%;
}


/* SOCIAL-MEDIA */
.social .row {
    max-width: 600px;
    margin: 0 auto;
}


/* FOOTER */
footer {
    background-color: #2A61AB;
    color: white;
}

footer .sie {
    width: 95px;
}