:root {
    --black-color: 37, 37, 37;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY CLASSES */
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/* HEADER */ 
.sony_logo {
    height: 2rem;
    background-color: rgb(var(--black-color));
}

.sony_logo .col {
    max-width: 6rem;
}

/* navbar */
nav {
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    background-color: white;
    border: none;
}

.dropdown-toggle::after {
    display: none;
    content: none;
    border: none;
}

.nav-link .bi-chevron-up {
    display: none;
}

.nav-link.show .bi-chevron-down {
    display: none;
}

.nav-link.show .bi-chevron-up {
    display: inline-block;
}


