:root {
    --black-color: 37, 37, 37;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: brown;
}


/* UTILITY CLASSES */
.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.fs_7 {
    font-size: 40px;
}

.fs_8 {
    font-size: 14px;
}

.rounded_4 {
    border-radius: 1em;
}


/* HEADER */ 
.sony_logo {
    height: 2rem;
    background-color: rgb(var(--black-color));
}

.sony_logo .col {
    max-width: 6rem;
}

/* navbar */
nav {
    margin-right: -.75rem;
    margin-left: -.75rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    background-color: white;
    border: none;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 0;
}

.dropdown-toggle::after {
    display: none;
    content: none;
    border: none;
}

nav .chevron-solid {
    width: .5rem;
}

.nav-link.show .chevron-solid {
    transform: rotate(0.5turn);
}


/* JUMBOTRON */
.jumbotron {
    width: 100%;
    margin-top: 100px;
    height: 40rem;
    position: relative;
    color: white;
}

.jumbotron > img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.jumbotron .row > div {
    position: absolute;
    left: 0;
    bottom: 5rem;
}

.jumbotron button {
    background-color: #D2522B;
    border: #D2522B;
}


/* CARDS */
.cards .col > * {
    min-height: 110px;
}

.cards .col .returnal {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-size: cover;
    background-position: left;
}

.cards .col .ratchet {
    background-image: url(../img/ratchet-and-clank-rift-apart-keyart.jpg);
    background-size: cover;
    background-position: center;
}